<h2>Template Driven Form</h2>
<form #form="ngForm" (ngSubmit)="completeForm(form)">
  <div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label">Firstname:</label>
      <input name="fname" type="text" [(ngModel)]="firstname" required class="form-control col-sm-4" />
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label">Lastname:</label>
      <input name="lname" type="text" [(ngModel)]="lasttname" class="form-control col-sm-4" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-1 col-form-label">Street:</label>
    <input name="street" type="text" [(ngModel)]="street" class="form-control col-sm-4" />
  </div>

  <div class="form-group row">
    <label class="col-sm-1 col-form-label">Zip:</label>
    <input name="zip" type="text" [(ngModel)]="zip" class="form-control col-sm-4" />
  </div>

  <div class="form-group row">
    <label class="col-sm-1 col-form-label">City:</label>
    <input name="city" type="text" [(ngModel)]="city" class="form-control col-sm-4" />
  </div>

  <button type="submit" class="btn btn-dark">Submit</button>

</form>


<pre>{{ form.value | json}}</pre>
<pre>{{ form.errors | json}}</pre>
